
@model Deliverable04.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}



<link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />

<br />
<br />
<br />


<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Header -->
        <header class="header">
            <h4 class="logo">YOUR PROFILE</h4>
        </header>
        <!-- Hero Section -->
        <section class="intro" style="background-color:#1abc9c">
            <div class="column">
                <h3>@Model.Name @Model.Surname</h3>
                <img src="~/Images/profile.png" alt="" class="profile">
            </div>
            <div class="column">
               <h2> Name </h2>  <h2>@Model.Name</h2>
                <br />
               <h2>Surname</h2> <h2>@Model.Surname</h2>
                <br />
               <h2>Email</h2>  <h2>@Model.Email</h2>
                <br />
                <h2>Height</h2>  <h2>@Model.Height</h2>
                <br />
                <h2>Weight</h2>  <h2>@Model.Weight</h2>
                <br />
                <h2>BMI INDEX</h2>  <h2>@ViewBag.Profile</h2>
                <br />

            </div>
        </section>
        <!-- Stats Gallery Section -->
        <div class="gallery"> </div>
        <div class="gallery"> </div>
        <!-- Footer Section -->
        <!-- Copyrights Section -->
    </div>
    <!-- Main Container Ends -->
</body>



