@model Deliverable04.Models.RegisterViewModel
@{
    Layout = null;
}


@{
    ViewBag.Title = "SigIn";
}


<link href="~/Content/SignInStyle.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<script src="~/Scripts/jquery-3.0.0.slim.js"></script>
<link href="~/Scripts/all.css" rel="stylesheet" />

<nav>
    <div>
        <a class="navbar-brand" onclick="location.href='@Url.Action("Contact", "Home")';return false;">
            <img src="~/Content/Land/img/logo.png" style="width:15%" alt="">
        </a>
    </div>
</nav>
<header></header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign Up Here</h5>

                        @using (Html.BeginForm("Register", "IBEEHEALTH", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address", @autofocus = "" })
                                @Html.LabelFor(m => m.Email, new { @class = "control-label", @autofocus = "" })
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Your Name", @autofocus = "" })
                                @Html.LabelFor(m => m.Name, new { @class = "control-label", @autofocus = "" })
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Your Surname", @autofocus = "" })
                                @Html.LabelFor(m => m.Surname, new { @class = "control-label", @autofocus = "" })
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Height, new { @class = "form-control", @placeholder = "Your Height", @autofocus = "" })
                                @Html.LabelFor(m => m.Height, new { @class = "control-label", @autofocus = "" })
                            </div>

                            <div class="form-label-group">
                                @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @placeholder = "Your Weight", @autofocus = "" })
                                @Html.LabelFor(m => m.Weight, new { @class = "control-label", @autofocus = "" })
                            </div>

                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Passwword", @autofocus = "" })
                                @Html.LabelFor(m => m.Password, new { @class = "control-label", @autofocus = "" })
                            </div>


                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @autofocus = "" })
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", @autofocus = "" })
                            </div>



                            <hr class="my-4">
                            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Sign Up</button>


                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

