@model Deliverable04.Models.UserType

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" onclick="location.href='@Url.Action("Index", "Users")';">Administrator</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a onclick="location.href='@Url.Action("Index", "Users")';">Users CRUD</a></li>
                <li><a onclick="location.href='@Url.Action("Index", "Cities")';"> cities</a></li>
                <li><a onclick="location.href='@Url.Action("Index", "Provinces")';"> Provinces</a></li>
                <li><a onclick="location.href='@Url.Action("Index", "UserTypes")';"> UserType</a></li>
                &nbsp;

                <li>&nbsp;<button class="btn btn-primary" onclick="location.href='@Url.Action("SignIn", "IBEEHEALTH")';"> Sign Out</button></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>User Types</h2>
    </div>

</body>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>UserType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserTypeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
